*.o
*.a
.vscode/
.idea/
build/
cmake-build-debug/
vgcore.22218
vgcore.23675
vgcore.31596
assets/TheVeryAdvancedIrrFontTool/FontTool.exe
assets/TheVeryAdvancedIrrFontTool/Irrlicht.dll
assets/TheVeryAdvancedIrrFontTool/irrlicht.ico
assets/haetten.ttf
